{
  "AWSTemplateFormatVersion" : "2010-09-09",
  
  "Description" : "CloudFormation Template to provision a Jenkins instance",
  
  "Parameters" : {
      
    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type" : "String",
	  "Default" : "aws",
      "MinLength": "1",
      "MaxLength": "64",
      "AllowedPattern" : "[-_ a-zA-Z0-9]*",
      "ConstraintDescription" : "can contain only alphanumeric characters, spaces, dashes and underscores."
    },

    "InstanceType" : {
      "Description" : "WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "t1.micro",
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

	"BuildArtifactBucket" : {
      "Description" : "S3 bucket for storing build artifacts",
      "Type" : "String",
      "Default" : "stelligentlabs",
      "ConstraintDescription" : "must be a valid EC2 instance type."
    }
  },
  
  "Mappings" : {
    "AWSInstanceType2Arch" : {
      "t1.micro"    : { "Arch" : "64" },
      "m1.large"    : { "Arch" : "64" },
      "m1.xlarge"   : { "Arch" : "64" },
      "m2.xlarge"   : { "Arch" : "64" },
      "m2.2xlarge"  : { "Arch" : "64" },
      "m2.4xlarge"  : { "Arch" : "64" },
      "c1.medium"   : { "Arch" : "64" },
      "c1.xlarge"   : { "Arch" : "64" },
      "cc1.4xlarge" : { "Arch" : "64" }
    },
    "AWSRegionArch2AMI" : {
      "us-east-1"      : { "32" : "ami-7f418316", "64" : "ami-7341831a" },
      "us-west-1"      : { "32" : "ami-951945d0", "64" : "ami-971945d2" },
      "us-west-2"      : { "32" : "ami-16fd7026", "64" : "ami-10fd7020" },
      "eu-west-1"      : { "32" : "ami-24506250", "64" : "ami-20506254" },
      "ap-southeast-1" : { "32" : "ami-74dda626", "64" : "ami-7edda62c" },
      "ap-northeast-1" : { "32" : "ami-dcfa4edd", "64" : "ami-e8fa4ee9" }
    }
  },
    
  "Resources" : {     
      
    "CfnUser" : {
      "Type" : "AWS::IAM::User",
      "Properties" : {
        "Path": "/",
		"LoginProfile" : {
			"Password" : "aux1298"
		},
        "Policies": [
		  {
            "PolicyName": "cloudformation",
            "PolicyDocument": 
			  { "Statement": [
				{
            	  "Effect":"Allow",
                  "Action":"cloudformation:DescribeStackResource",
                  "Resource":"*"
				}
			]}
          },
		  {
			"PolicyName": "s3",
            "PolicyDocument":
			  { "Statement": [
				{
            	  "Effect":"Allow",
                  "Action":"s3:*",
                  "Resource":"*"
				}
			]}
		  }]
      }
    },

    "HostKeys" : {
      "Type" : "AWS::IAM::AccessKey",
      "Properties" : {
        "UserName" : {"Ref": "CfnUser"}
      }
    },

    "WebServer": {  
      "Type": "AWS::EC2::Instance",
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "config" : {
            "packages" : {
              "yum" : {
                "java-1.6.0-openjdk"    : [],
                "tomcat6"   			: [],
				"git"					: [],
				"make"					: [],
				"gcc"					: [],
				"sqlite-devel"			: [],
				"libxml2-devel"			: [],
				"libxslt-devel"			: [],
				"libyaml-devel"			: []
              }
            },

			"files" : {
	          "/usr/share/tomcat6/webapps/jenkins.war" : { 
		        "source" : "http://mirrors.jenkins-ci.org/war/latest/jenkins.war", 
		        "mode"   : "000500", 
		        "owner"  : "tomcat",
		        "group"  : "tomcat" 
		      },
		
		      "/usr/share/tomcat6/sqs_receive_message.rb" : { 
		        "source" : "https://s3.amazonaws.com/stelligentlabs/sqs_receive_message.rb", 
		        "mode"   : "000500", 
		        "owner"  : "tomcat",
		        "group"  : "tomcat" 
		      },
		
			  "/usr/share/tomcat6/sqs_send_message.rb" : { 
		        "source" : "https://s3.amazonaws.com/stelligentlabs/sqs_send_message.rb", 
		        "mode"   : "000500", 
		        "owner"  : "tomcat",
		        "group"  : "tomcat" 
		      },
		
			  "/usr/share/tomcat6/terminate.rb" : { 
		        "source" : "https://s3.amazonaws.com/stelligentlabs/terminate.rb", 
		        "mode"   : "000500", 
		        "owner"  : "tomcat",
		        "group"  : "tomcat" 
		      },
		
			  "/usr/share/tomcat6/.ssh/known_hosts" : {
	            "content" : { "Fn::Join" : ["", [
	              "|1|GL7MpJoXdKJ3yvsl2qWhkO3mjhg=|d6Jp8PtBhNacqlLz1FlP2Kq6myw= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==\n",

	              "|1|f3TTBTX+Otv7WVILCGk5uwCg708=|aYLFxK2RQJ/qhUa6EnBBncilo2E= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ=="
	            ]]},
	            "mode"   : "000644",
	            "owner"  : "tomcat",
	            "group"  : "tomcat"
	          },
			  "/usr/share/tomcat6/.ssh/id_rsa" : {
	            "content" : { "Fn::Join" : ["", [
				  "-----BEGIN RSA PRIVATE KEY-----\n",
				  "MIIEoQIBAAKCAQEAtOctxsvFuM4SKcIlelzQmZSWb7zBbxjd8JEZ/9xHWApWcpN8\n",
				  "XxRtqXBT9eLreg0c4nNmFTHVVhBhRj/gpAr9HHS9VkAe88EnGRjMFHBfrQOlsIBr\n",
				  "18yhh8XL71ra4/xasMBWkJvfvBTwthWEKER374UXOGH2S7UMUoY507ASfWm6xU7V\n",
				  "MQmY/NkxBb0vXVT9mGitvr4uieDJLiysvApxC2xEsZs4fCDhym8Rf44xJRPJCkKu\n",
			      "CdNy6I1xL9dpiLH17cMGVzFtImknm/22GUMfky9f+GGaxT/tGjWJd4CprsGt8nnr\n",
				  "CSpmynUvZzea/QsQLD0mHyOs1RyNGDrLdXsy3QIBIwKCAQEAi43EOkVspIG2PXiD\n",
				  "T8PxYIiRTuIRkDfBJ0tdMxekwEJ9M9DcSVjm4cuue9rwKvQsOal6oqLJJSKULuDR\n",
				  "3aITtt22oZ8t0ftnTd/t4+Go5I3I9d9pItEO5RTtx0YWkp4aE1KL6+X1vPo2CM7F\n",
				  "CR7gLc0R6aqoDoRZ9oTNhgt7+leTYjDpcBsHnhcNwMlVMV7340PbFh5cVSt3Txms\n",
			  	  "SJ0yB00tWVQhVPoM3vJCpRqJSSllhS0AVXK8fSRtApwtUWteLiHMh2zZ2397r6uu\n",
				  "XR3wB6mdHtfFFdS5x9m5vzO/jKk0UhqOyfbCuek5IX08Ww2Lq75fYNspE6W5h3VH\n",
				  "zqJHJwKBgQDptPRv01W0so/xeEnlLLfxs4sqUV4DP1Iiann2q7dWg0gR3GbGjR4n\n",
				  "XELhPTkal3TLttRmeykaGoqcuUrog8qVpC+n7F2vCIZR8q1k26J3EkfabW9dROPY\n",
				  "LFdej0koe9gJqkaCxFmKEM2SRfBNZ0Lf+VuwEA+lfGSVlDzA7YFMXwKBgQDGKMWo\n",
				  "igKhhtYHzG5NiFFYx75w6Gg4V2lE/liK4ZpLdTHukNDebeSD0eiqdcpklxP+d2Na\n",
				  "FmrysIfCaa8W3bsCpXqEscthUq9bQNoQZhsJDqzWUAB26M0RI7D3wPRscxfIwVNZ\n",
				  "1rbpyKix4udUrfj/4njndRRgUjZ4yurAaSeKQwKBgH7ek1Kl7LKM0cw5/DqUnl6j\n",
				  "S4wASPpy1NDatzzDngpkhjWU51XXlAa9Dl0D+m2Fa0oEKikBB68VuPX+L/qQr82T\n",
				  "pNeAUB0wg25QigONLE9EcCYeJoMWxNRv16hcaYsBZqYpPDhb9he/+pE76NmP09ir\n",
				  "7/Hc1Us05iVQeMCA7mtJAoGAYD+wdm7rVcUmIQuGCGbIbPNN3xHMOJ98RhUjsSu/\n",
				  "+MPlDXmKBaMXOLZpseFw7weNXlc+4p0socN1I+oweNIZAUkPn4mOq50wmgmOfP5k\n",
				  "5yRik/r46UyA3HBr5g1DhSH1nAYhK6LN30Q0rixhu2pxoNu3EVYf1wNcSUyd6G2W\n",
				  "3MECgYBnBuUOVhakvhNhvFztrtjiNWUXZWFDSE2ECY9Cx+ctLTQyjNYUANiGS+hg\n",
				  "5x14K5KRb9nc7s56hUd75yaUz1+YI1AJXP9CiIn760vQP/pjM76wi3Du0Kh75859\n",
				  "2AhJlUzOA/iaeEier/FKiWTFXh4Q5RA6sau7uJYqLY2LAzSZgw==\n",
				  "-----END RSA PRIVATE KEY-----\n"
	            ]]},
	            "mode"   : "000600",
	            "owner"  : "tomcat",
	            "group"  : "tomcat"
	          },
	
			  "/usr/share/tomcat6/.ssh/id_rsa.pub" : {
	            "content" : { "Fn::Join" : ["", [
	              "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAtOctxsvFuM4SKcIlelzQmZSWb7zBbxjd8JEZ/9xHWApWcpN8XxRtqXBT9eLreg0c4nNmFTHVVhBhRj/gpAr9HHS9VkAe88EnGRjMFHBfrQOlsIBr18yhh8XL71ra4/xasMBWkJvfvBTwthWEKER374UXOGH2S7UMUoY507ASfWm6xU7VMQmY/NkxBb0vXVT9mGitvr4uieDJLiysvApxC2xEsZs4fCDhym8Rf44xJRPJCkKuCdNy6I1xL9dpiLH17cMGVzFtImknm/22GUMfky9f+GGaxT/tGjWJd4CprsGt8nnrCSpmynUvZzea/QsQLD0mHyOs1RyNGDrLdXsy3Q== b.jakovich@gmail.com"
	            ]]},
	            "mode"   : "000644",
	            "owner"  : "tomcat",
	            "group"  : "tomcat"
	          },
	
			  "/etc/cron.hourly/jenkins_backup.sh" : {
				"source" : "https://s3.amazonaws.com/stelligentlabs/terminate.rb", 
		        "mode"   : "000500", 
		        "owner"  : "tomcat",
		        "group"  : "tomcat"
			  }
		    }
          }
        }
      },
      "Properties": {
        "ImageId" : { "Fn::FindInMap" : [ "AWSRegionArch2AMI", { "Ref" : "AWS::Region" },
                          { "Fn::FindInMap" : [ "AWSInstanceType2Arch", { "Ref" : "InstanceType" }, "Arch" ] } ] },
        "InstanceType"   : { "Ref" : "InstanceType" },
        "SecurityGroups" : [ {"Ref" : "FrontendGroup"} ],
        "KeyName"        : { "Ref" : "KeyName" },
		"Tags" : [{ "Key" : "Name", "Value" : "Jenkins" }],
        "UserData"       : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#!/bin/bash -v\n",
		  "date > /home/ec2-user/starttime\n",
          "yum update -y aws-cfn-bootstrap\n",

          "# Install packages\n",
          "/opt/aws/bin/cfn-init -s ", { "Ref" : "AWS::StackName" }, " -r WebServer ",
          "    --access-key ",  { "Ref" : "HostKeys" },
          "    --secret-key ", {"Fn::GetAtt": ["HostKeys", "SecretAccessKey"]},
          "    --region ", { "Ref" : "AWS::Region" }, " || error_exit 'Failed to run cfn-init'\n",
		  
		  "# Copy Github credentials to root ssh directory\n",
		  "cp /usr/share/tomcat6/.ssh/* ~/.ssh/\n",
		
		  "# Update Jenkins with versioned configuration\n",
		  "rm -rf /usr/share/tomcat6/.jenkins\n",
		  "git clone git@github.com:stelligent/devopsinthecloudjenkins.git /usr/share/tomcat6/.jenkins\n",
		
		  "# Installing Ruby 1.9.3 from RPM\n",
		  "wget https://s3.amazonaws.com/stelligent-resources/rpm/ruby-1.9.3p0-2.amzn1.x86_64.rpm\n",
		  "rpm -Uvh ruby-1.9.3p0-2.amzn1.x86_64.rpm\n",
		
		  "# Install Jenkins Plugins\n",
		  "wget -P /usr/share/tomcat6/.jenkins/plugins/ http://updates.jenkins-ci.org/download/plugins/git/1.1.16/git.hpi\n",
		  "wget -P /usr/share/tomcat6/.jenkins/plugins/ http://updates.jenkins-ci.org/download/plugins/s3/0.2.0/s3.hpi\n",
		  "wget -P /usr/share/tomcat6/.jenkins/plugins/ http://updates.jenkins-ci.org/download/plugins/jenkins-cloudformation-plugin/0.9/jenkins-cloudformation-plugin.hpi\n",
		
		  "# Install Bundler\n",
		  "gem install bundler\n",
		  "gem install aws-sdk\n",
		
		  "# Add Tomcat user to sudoers and disable tty\n",
		  "echo \"tomcat ALL=(ALL) NOPASSWD:ALL\" >> /etc/sudoers\n",
		  "echo \"Defaults:%tomcat !requiretty\" >> /etc/sudoers\n",
		  "echo \"Defaults:tomcat !requiretty\" >> /etc/sudoers\n",
		
		  "# Add AWS Credentials to Tomcat\n",
		  "echo \"AWS_ACCESS_KEY=AKIAJFZQBVNQF7EUER6A\" >> /etc/sysconfig/tomcat6\n",
		  "echo \"AWS_SECRET_ACCESS_KEY=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\" >> /etc/sysconfig/tomcat6\n",
		  "echo \"AWS_CLOUDFORMATION_HOME=/opt/aws/apitools/cfn/\" >> /etc/sysconfig/tomcat6\n",
		
		  "# Add CloudFormation CLI tools\n",
		  "wget -P /opt/aws/apitools/ https://s3.amazonaws.com/stelligentlabs/CloudFormation-CLI.tar.gz\n",
		  "tar -C /opt/aws/apitools/ -xf /opt/aws/apitools/CloudFormation-CLI.tar.gz\n",
		
		  "# Tomcat Setup\n",
		  "mkdir /usr/share/tomcat6/gem\n",
		  "chown -R tomcat:tomcat /usr/share/tomcat6/\n",
		  "service tomcat6 start\n",
		  "/opt/aws/bin/cfn-signal", " -e 0", " '", { "Ref" : "WaitHandle" }, "'","\n",
		
		  "date > /home/ec2-user/stoptime"
        ]]}}        
      }
    },

    "IPAddress" : {
      "Type" : "AWS::EC2::EIP"
    },
    
    "IPAssoc" : {
      "Type" : "AWS::EC2::EIPAssociation",
      "Properties" : {
        "InstanceId" : { "Ref" : "WebServer" },
        "EIP" : { "Ref" : "IPAddress" }
       }
    },
    
    "FrontendGroup" : {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Enable SSH and access to Apache and Tomcat",
        "SecurityGroupIngress" : [
          {"IpProtocol" : "tcp", "FromPort" : "22", "ToPort" : "22", "CidrIp" : "0.0.0.0/0"},
	      {"IpProtocol" : "tcp", "FromPort" : "80", "ToPort" : "80", "CidrIp" : "0.0.0.0/0"},
		  {"IpProtocol" : "tcp", "FromPort" : "8080", "ToPort" : "8080", "CidrIp" : "0.0.0.0/0"}
        ]
      } 
    },

	"WaitHandle" : {
      "Type" : "AWS::CloudFormation::WaitConditionHandle"
    },
    
    "WaitCondition" : {
      "Type" : "AWS::CloudFormation::WaitCondition",
      "DependsOn" : "WebServer",
      "Properties" : {
        "Handle" : { "Ref" : "WaitHandle" },
        "Timeout" : "1200"
      }
    }          
  },
  
  "Outputs" : {
    "InstanceIPAddress" : {
      "Value" : { "Ref" : "IPAddress" }
    },
	"JenkinsURL" : {
      "Value" : { "Fn::Join" : ["", ["http://", { "Ref" : "IPAddress" }, ":8080/jenkins"]] },
      "Description" : "URL for newly created Jenkins app"
    }
  }
}